.navigation-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.navigation-container h2 {
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(43, 43, 177);
}
  
.navigation-links {
    margin-top: 20px;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
li {
    margin-top: 20px;
    font-size: larger;
    
}
  
a {
    text-decoration: none;
    color: #0a0a0a;
}
  
a:hover {
    color: #007bff;
}

li.active {
    background-color: #9897d1;
    border-radius: 5px;
    color: #ffffff;
}

.unread-count {
    position: relative;
    left: 25vh;
}

.profile-icon {
    position: relative;
    top: 5%;
    left: 2%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    background: white;
    padding: 7px;
}